@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

.cabecalho {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8.5vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}
.menu ul{
    list-style: none;
    display: flex;
}
.logo img{
    height: 100px;
}
.menu ul li a{
    color: black;
    font-weight: 500;
    padding: 20px 40px;
    display: block;
    transition: 0.1s;
}

.menu ul li a:hover{
    background-color: rgb(248, 248, 248);
}

.menu-drop {
    position: relative;
    z-index: 1001; 
}


.menu-drop .drop {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 2000;
    left: 0;
}

.menu-drop .drop a{
    padding: 15px;
}

.menu-drop .drop a:hover{
    background-color: rgb(248, 248, 248);
}

.menu-drop:hover .drop {
    max-height: 500px;
}

footer{
    background-color: #001e67;
    padding: 30px;

}

footer img{
    height: 70px;
    border-radius: 20px;
}

#footer_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
}

footer li{
    list-style: none;
}

footer li a{
    color: white;
}
/*kauan*/

body, h1, h2, p, ul, ol, li {
    background-color: #ffffff;
    color: #333333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.titulo, .main-title {
    font-size: 3em;
    text-align: center;
    margin: 30px 0;
    color: #333333;
    padding: 20px;
    background: #333;
    color: #fff;
}

.descricao {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 40px;
}

main, .section {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.subtitulo, .section-title {
    font-size: 1.8em;
    margin-top: 25px;
    color: #007bff;
    margin-bottom: 10px;
}

.eligibility-list, .document-list, .non-eligibility-list, .lista-universidades, .lista-participar {
    list-style: none;
    padding-left: 20px;
    margin-left: 30px;
}

.eligibility-item, .document-item, .non-eligibility-item {
    margin-bottom: 10px;
}

.texto-objetivo,
.texto-universidades,
.texto-participar {
    font-size: 1em;
    line-height: 1.6;
}

.steps-list {
    list-style: decimal;
    padding-left: 20px;
}

.step-item {
    margin-bottom: 10px;
}

a {
    color: #1a73e8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.rodape {
    text-align: center;
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

